* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("background.jpg");
}

.section {
  width: 100%;
  height: 100vh;
}

.login-con {
  width: 30%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: rgba(white, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .regsize-btn {
    font-size: 0.8rem;
  }
}

.register-con {
  width: 40%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: rgba(white, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .i-regbck {
    font-size: 1.3rem;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.floating-label {
  position: relative;
  padding: 0.5rem 0;
  width: 100%;

  i {
    position: absolute;
    transform: translate(0.8rem, 0.8rem);
  }

  label {
    position: absolute;
    transform: translate(2rem, 0.6rem);
    transition: 0.5s;
    cursor: auto;

    &.active {
      transform: translate(1rem, -0.5rem);
      font-size: 0.8em;
    }
  }

  input {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid black;
    outline: none;
    background: transparent;
  }
}

.login-btn,
.logout-btn {
  width: 70%;
  background: -webkit-linear-gradient(
    0deg,
    hsla(187, 100%, 80%, 1) 0%,
    hsla(315, 100%, 68%, 1) 100%
  );
}

.home-con {
  width: 40%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: rgba(white, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
